{% extends 'master.html' %}

{% block content %}

<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Nuevo Animal</h4>
                  <p class="card-category">Complete los datos que se solicitan</p>
                </div>
                <div class="card-body">
                  <form method="POST">{% csrf_token %}
                    {{formulario.as_p}}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nombre</label>
                          <input type="text" class="form-control" name="nombre">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Tipo</label>
                          <input type="text" class="form-control" name="tipo">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Edad</label>
                          <input type="number" class="form-control" name="edad">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cantidad</label>
                          <input type="number" class="form-control" name="cantidad">
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Guardar</button>
                    <div class="clearfix"></div>
                  </form>

{% endblock %}
