{% extends 'master.html' %}

{% block content %}
<div class="content">
       <div class="container-fluid">
         <div class="row">
           <div class="col-md-12">
             <div class="card">
               <div class="card-header card-header-primary">
                 <h4 class="card-title ">Listado de Empleados Asignados para Cuidado de Zoologico</h4>
                 <p class="card-category"> Informacion de los Empleados</p>
                 <li style="list-style-type:none; float:right;">
                   <a href="/nuevoE/">
                     <i class="material-icons"
                     style="color: white;">
                       add_circle_outline</i>
                   </a>
                 </li>
               </div>
               <div class="card-body" style="text-align: center;">
                 <div class="table-responsive">
                   <table class="table">
                     <thead class=" text-primary">
                       <th>ID</th>
                       <th>Nombre</th>
                       <th>Apellido</th>
                       <th>Operaciones</th>
                     </thead>
                     <tbody>
                       {% for emp in encargado %}
                       <tr>
                         <td>
                           {{ emp.id }}
                         </td>
                         <td>
                           {{ emp.nombre }}
                         </td>
                         <td>
                           {{ emp.apellido }}
                         </td>
                         <td>
                           <li style="list-style-type:none">
                             <a href="#">
                               <i class="material-icons">create</i>
                             </a>
                             <a href="{% url 'EliminarEmpleado' pk=emp.id %}">
                             <i class="material-icons">delete_outline</i>
                              </a>
                           </li>
                         </td>
                       </tr>
                       {% endfor %}
                     </tbody>
                   </table>
                 </div>
               </div>
             </div>
           </div>
       </div>
   </div>
</div>
{% endblock %}
